<div class="container newpage" >


	<div class="col-md-3 col-md-offset-4" style="border:1px solid #e3e3e3">
		

		<%= form_for(@user) do |f|%>

		<div class="field">
			<%= f.label :first_name %>
			<%= f.text_field :first_name , class: 'form-control' %>
		</div>

		<div class="field">
			<%= f.label :last_name %>		
			<%= f.text_field :last_name, class: 'form-control' %>
		</div>

		<div class="field">
			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>
		</div>

		<div class="field">
			<%= f.label :password %> 
			<%= f.password_field :password ,class: 'form-control' %>
		</div>
		<br> 
		
		<div class="actions">
			<%= f.submit "Submit", class: 'form-control  btn-block btn-primary' %>
		</div>
		<% end %>



	</div>
</div>

