<!DOCTYPE html>
<html>
<head>
  <title>Customauthsys</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top">
  	<a class="navbar-brand" href="#">Custom Auth </a>
  	<ul class="nav navbar-nav">
  		<li class="active">
  		<%= link_to("Home", home_path) %>
  		</li>
  		<li>

      <% if !logged_in? %>

  			<%= link_to("Login", login_path) %>
        <li> <%= link_to("Signup", signup_path) %>  </li>  

      <% end %>

  		</li>

      <% if logged_in? %>

  		  	<li><%= link_to("Logout", logout_path, method: :delete) %></li>
      <% end %>

  		

  	</ul>
  </nav>

<%= yield %>

</body>
</html>
